{
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/changelog",
        "@semantic-release/npm",
        "@semantic-release/github",
        "@semantic-release/git"
    ],
    "analyzeCommits": {
        "preset": "conventional-changelog-angular",
        "releaseRules": "./custom-release-rules.js"
    },
    "branches": [
        "main",
        {
            "name": "develop",
            "channel": "beta",
            "prerelease": "beta"
        },
        {
            "name": "staging",
            "channel": "rc",
            "prerelease": "rc"
        }
    ],
    "prepare": [
        "@semantic-release/changelog",
        "@semantic-release/npm",
        {
            "path": "@semantic-release/git",
            "assets": [
                "package.json",
                "package-lock.json",
                "CHANGELOG.md"
            ],
            "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
        }
    ]
}
