{
    "branches": [
        "main",
        {
            "name": "develop",
            "channel": "rc",
            "prerelease": "rc"
        },
        {
            "name": "staging",
            "channel": "beta",
            "prerelease": "beta"
        }
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/github"
    ]
}
